In [36]:
import pandas as pd
import numpy as np
import matplotlib. pyplot as plt

In [6]:
file = open('adult.data', 'r')

In [9]:
def chr_int(a):
    if a.isdigit(): 
     return int(a)
    else : 
     return 0

data = []
for line in file :
     data1 = line.split(',')
     if len(data1) == 15:
         data.append([chr_int(data1 [0]), data1[1],
                 chr_int(data1 [2]), data1[3],
                 chr_int(data1 [4]), data1[5],
                 data1[6], data1[7], data1[8],
                 data1[9], chr_int (data1[10]),
                 chr_int(data1[11]),
                 chr_int(data1[12]),
                 data1 [13], data1[14]
                ])

In [54]:
df1 = pd.DataFrame(data)  

df1.columns = ['age', 'type_employer', 'fnlwgt', 'education', 
                "education_num","marital", "occupation", "relationship", "race","sex",
                "capital_gain", "capital_loss", "hr_per_week","country","income"]
df1.head()

,age,type_employer,fnlwgt,education,education_num,marital,occupation,relationship,race,sex,capital_gain,capital_loss,hr_per_week,country,income
0,39,State-gov,0,Bachelors,0,Never-married,Adm-clerical,Not-in-family,White,Male,0,0,0,United-States,<=50K\n
1,50,Self-emp-not-inc,0,Bachelors,0,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,0,United-States,<=50K\n
2,38,Private,0,HS-grad,0,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,0,United-States,<=50K\n
3,53,Private,0,11th,0,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,0,United-States,<=50K\n
4,28,Private,0,Bachelors,0,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,0,Cuba,<=50K\n

In [64]:
counts = df1.groupby('country').size()
counts.tail

<bound method NDFrame.tail of country
 ?                               583
 Cambodia                         19
 Canada                          121
 China                            75
 Columbia                         59
 Cuba                             95
 Dominican-Republic               70
 Ecuador                          28
 El-Salvador                     106
 England                          90
 France                           29
 Germany                         137
 Greece                           29
 Guatemala                        64
 Haiti                            44
 Holand-Netherlands                1
 Honduras                         13
 Hong                             20
 Hungary                          13
 India                           100
 Iran                             43
 Ireland                          24
 Italy                            73
 Jamaica                          81
 Japan                            62
 Laos                             18
 Mexico                          643
 Nicaragua                        34
 Outlying-US(Guam-USVI-etc)       14
 Peru                             31
 Philippines                     198
 Poland                           60
 Portugal                         37
 Puerto-Rico                     114
 Scotland                         12
 South                            80
 Taiwan                           51
 Thailand                         18
 Trinadad&Tobago                  19
 United-States                 29170
 Vietnam                          67
 Yugoslavia                       16
dtype: int64>

In [49]:
print (df1.head())

   age      type_employer  fnlwgt   education  education_num  \
0   39          State-gov       0   Bachelors              0
1   50   Self-emp-not-inc       0   Bachelors              0
2   38            Private       0     HS-grad              0
3   53            Private       0        11th              0
4   28            Private       0   Bachelors              0

               marital          occupation    relationship    race      sex  \
0        Never-married        Adm-clerical   Not-in-family   White     Male
1   Married-civ-spouse     Exec-managerial         Husband   White     Male
2             Divorced   Handlers-cleaners   Not-in-family   White     Male
3   Married-civ-spouse   Handlers-cleaners         Husband   Black     Male
4   Married-civ-spouse      Prof-specialty            Wife   Black   Female

   capital_gain  capital_loss  hr_per_week         country    income
0             0             0            0   United-States   <=50K\n
1             0             0            0   United-States   <=50K\n
2             0             0            0   United-States   <=50K\n
3             0             0            0   United-States   <=50K\n
4             0             0            0            Cuba   <=50K\n

In [52]:
fm = df1[(df1['sex']== 'Female') ]
fm.shape

(0, 15)

In [53]:
ml1 = df[(df.sex == 'Male') & (df.income== '>50K\n')]
fm = df[(df.sex == 'Female') ]
fm1 = df[(df.sex == 'Female') & (df.income== '>50K\n') ]

In [33]:
print(ml.head())

Empty DataFrame
Columns: [age, type_employer, fnlwgt, education, education_num, marital, occupation, relationship, race, sex, capital_gain, capital_loss, hr_per_week, country, income]
Index: []

In [68]:
df1=df[(df['income'] == '>50K\n')]
df1.shape

(0, 15)